@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projet 1</h1>

<table>
    <th style="text-align : center">Cas 1</th>
    <th style="text-align : center">Cas 2</th>
    <th style="text-align : center">Cas 3</th>
    <th style="text-align : center">Cas 4</th>
    <tr>
        <td><a href="~/Home/AfficherCas/case0"><img class="imgProjet" src="~/images/maison1.jpg" style="margin-right:20px;background-size: cover; width: 250px; height: 200px;"/></a></td>
        <td><a href="~/Home/AfficherCas/case1"><img class="imgProjet" src="~/images/maison2.jpg" style="margin-right:20px;background-size: cover; width: 250px; height: 200px;"/></a></td>
        <td><a href="~/Home/AfficherCas/case2"><img class="imgProjet" src="~/images/maison3.jpg" style="margin-right:20px;background-size: cover; width: 250px; height: 200px;"/></a></td>
        <td><a href="~/Home/AfficherCas/case3"><img class="imgProjet" src="~/images/maison4.jpg" style="margin-right:20px;background-size: cover; width: 250px; height: 200px;"/></a></td>
    <tr>
        @for (int i = 0; i < ViewBag.coteGeneral.Length; i++)
        {
            <td style="text-align:center">@ViewBag.coteGeneral[i] / 10</td>
        }
    </tr>
   
</table>

<div><canvas id="canvasID" onload="init(@ViewBag.tabCote)"></canvas></div>
   


